<h3><i class="fas fa-book-reader"></i>The StoryBook</h3>
<div class="section">
  <p class="lead" style="background-color:rgb(0, 0, 0,0)">Create Public and Private storyBook from your life</p>
  <a href="https://yashstorybook.000webhostapp.com/" class="btn red darken-1" >  
   <i style="color:rgb(3, 21, 21)" class="fab fa-home"></i>Homepage</a>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Login with google
  </a>
</div>